@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
html,
body {
	height: 100%;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

.container {
	max-width: 1366px;
}

.fweight {
	font-weight: 300;
}

.logo_dg{width:250px !important;}


.ul_list{padding-inline-start: 20px;}







.bg-dg-light {
	background: rgb(255, 229, 230) !important;
}

.text-dg {
	color: rgb(228, 77, 83) !important;
}

.bg-light-gray {
	background: #eaeaea;
}

.underline {
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-color: #e44d53;
}



.box-rect {
	border-radius: inherit;
	background: inherit;
	border: 2px solid #e44d53;
	padding: 5px 3px;
    border-radius: 18px;
}

.box-rect-white {
	border-radius: inherit;
	background: inherit;
	border: 2px solid rgba(255, 255, 255, .5);
}

.box-rect-white:hover {
	border: 2px solid #ffffff;
}

.box-rect:hover {
	background: #e44d53;
	color: #ffffff !important;
}


.forgot-body p{font-size:14px;}


.set_login{    right: 93px;
   
    color: #fff;}
	
	.set_login_2{    right: 60px;
  
    color: #fff;}
	
	#dropdownMenu2:focus{outline: none;
    box-shadow: none;}

a {
	color: #384552;
}

.line_h {
	line-height: 25px;
}

.home_div {
	background-repeat: no-repeat;
	background-color: #f1f1f1;
	background-attachment: fixed;
	background-position: center;
}
.thumbnail{
    border: 2px solid darkgrey;
    width: 200px;
    margin-top: 5px;
    border-style: dotted;
    background-position: center;
    background-repeat: no-repeat;
    padding:5px;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('../../img/logo.gif') 50% 50% no-repeat rgb(255, 255, 255);
	opacity: .6;
}

.blur {
	-webkit-filter: blur(5px);
	/* Chrome, Safari, Opera */
	filter: blur(5px);
}

.disabled {
	cursor: not-allowed;
	pointer-events: none;
}

.card-box {
	background: #ffffff;
	min-height: 300px;
	position: relative;
	padding: 30px 30px 20px;
	margin-bottom: 20px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
	cursor: pointer;
}

.card-box:hover {
	background: linear-gradient(to right, #ea585817 0%, #ffffff 51%, #fbaeae36 100%);
	transition: background-color 1s ease;
}

.card-box:after {
	display: block;
	background: #e44d53;
	border-top: 2px solid #e44d53;
	content: '';
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}


section{padding:50px;}

.card-title h2 {
	margin: 0;
	padding-top: 5%;
	color: #e44d53;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 1;
	margin-bottom: 15px;
}

.card-title p {
	margin: 0;
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 28px;
	font-weight: 400;
}

.card-link a {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #e44d53;
	font-size: 15px;
}

.box_div_item {
	-webkit-box-shadow: 3px 4px 27px 6px rgb(241, 241, 241) !important;
	-moz-box-shadow: 3px 4px 27px 6px rgb(241, 241, 241) !important;
	box-shadow: 3px 4px 27px 6px rgb(241, 241, 241) !important;
	transition: all .2s ease-in-out;
}

.box_div_item:hover {
	box-shadow: 3px 4px 27px 6px rgb(214, 210, 210);
	-ms-transform: scale(1.06);
	-webkit-transform: scale(1.06);
	transform: scale(1.01);
	transition-duration: 0.8s;
	cursor: pointer;
}

.box_div_item h4:hover {
	text-decoration: underline;
	cursor: pointer;
}

.contact .heading {
	margin-bottom: 50px;
}

.contact .heading h2 {
	font-size: 30px;
	font-weight: 700;
	color: #404356;
	margin: 0;
	margin-bottom: 15px;
}

.contact .heading h2 span {
	color: #7035cf;
	font-weight: 300;
}

.contact .heading p {
	font-size: 14px;
	font-weight: 400;
	color: #525f7f;
	line-height: 26px;
	margin: 0;
}

.contact .main {
	background: #ffffff;
	box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.08);
}

.contact .main h3 {
	font-size: 20px;
	font-weight: 500;
	color: #4a545e;
	margin: 0;
	margin-bottom: 20px;
}

.contact .form-control {
	padding: 25px;
	font-size: 13px;
	margin-bottom: 10px;
	background: #f8f8f9;
	border: 0;
	border-radius: 5px;
}

.contact button.btn {
	padding: 10px;
	border-radius: 5px;
	font-size: 15px;
	background: linear-gradient(to right, rgb(228, 77, 83) 0%, rgba(228, 77, 83, 0.72) 100%);
	color: #ffffff;
}

.contact .main .left {
	padding: 40px 60px;
}

.contact .main .right {
	background: #5d5db7;
	background-size: cover;
	padding: 40px;
	color: #ffffff;
	height: 100%;
}

.contact .main .right h4 {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 30px;
}

.contact .main .right .info {
	margin-bottom: 35px;
}

.contact .main .right .info i {
	font-size: 25px;
	color: #ffffff;
}

.contact .main .right .info span {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	margin-left: 15px;
}

.contact .main .right .social a {
	text-decoration: none;
	font-size: 30px;
	color: #ffffff;
	margin-right: 20px;
}

[data-toggle="collapse"]:after {
	display: none;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f054";
	transform: rotate(90deg);
	transition: all linear 0.25s;
	float: right;
}

[data-toggle="collapse"].collapsed:after {
	transform: rotate(0deg);
}

.btn-num {
	top: -19px;
	left: 10px;
}

.btn-num button {
	border-radius: 40px 40px;
	height: 45px;
	width: 45px;
	color: #ffffff;
	font-weight: bold;
}

.bshadow {
	box-shadow: 3px 4px 11px #e2e2e2
}

.input--style-4 {
	line-height: 50px;
	background: #fafafa;
	-webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	-moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 0 20px;
	font-size: 16px;
	color: #666;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	transition: all 0.4s ease;
	outline: none;
	margin: 0;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	width: 100%;
	font-size: 14px;
	font-family: inherit;
	border-right: 4px solid gainsboro;
}

.numberCircle {
	width: 30px;
	line-height: 26px;
	border-radius: 40px 40px;
	text-align: center;
	font-size: 19px;
	border: 2px solid #e44d53;
	background: #e44d53;
	color: #ffffff;
	font-weight: 600;
	border-right: 5px solid #bd1119;
}

.input--style-4::-webkit-input-placeholder {
	/* WebKit, Blink, Edge */
	color: #666;
}

.input--style-4:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #666;
	opacity: 1;
}

.input--style-4::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #666;
	opacity: 1;
}

.input--style-4:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #666;
}

.input--style-4:-ms-input-placeholder {
	/* Microsoft Edge */
	color: #666;
}

.label {
	font-size: 16px;
	color: #555;
	text-transform: capitalize;
	display: block;
	margin-bottom: 5px;
}