{% load static %}
<div class="" >
   

   <div class="row  h-100   mx-0  bg-white position-relative bdr-radius mb-0">
   
   
    <div class="col-12 bg-doyogame home-sec-1 " >
         <div class="d-flex align-items-center justify-content-center ">
            <div class="text-center">
               
              
               <div class="">
                  <h6 class="text-white mt-2 h5"> Saved Question Answer Report </h6>
               </div>
            
               
            </div>
         </div>
      </div>

     

      <div class="col-12 col-lg-10 mx-auto bg-white mb-4 mt-4 home-sec-2">
         <div class="d-flex align-items-center justify-content-center h-mob-auto h-100">
            <div class="row w-100">
               
               
               <div class="table-responsive-lg w-100 text-capitalize mt-2">
                  <div class="table-responsive text-capitalize mt-2">
                     <table id="datatablesRecord" class="table table-bordered w-100 small text-center" cellspacing="0" >
                        <thead>
                           <tr class="bg-light">
                              <th>S.No</th>
                              <th>Questions</th>
                              <th>Your Answer</th>
                             
                              <th>Correct Answer</th>
                           </tr>
                        </thead>
                        <tbody>

                                 {% for t in get_information_data %}
                               
                                
                                 <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{t.question_name|safe}}</td>
                                    <td>{{t.user_answers|safe}}</td>
                                    <td>{{t.corrected_answer|safe}}</td>
                                    
                                 
                               
                                 {% endfor %}

                                 </tr>

                                  
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
      
   
   
     
   </div>
</div>