{% load static %}
<!DOCTYPE html>
<html ng-app="myApp">
   <head>
      <title>{% block title %}{% endblock %}</title>
      <link rel="shortcut icon" type="image/png" href = "{% static 'img/logo3.png' %}">
      <meta charset="utf-8">
      <meta name="robots" content="noindex, nofollow">
      <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
      <!-- link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
      <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
      <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
      <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-toast-plugin/1.3.2/jquery.toast.css">
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <link href="{% static 'css/jquery_confirm.css' %}"rel="stylesheet">
      <link href="{% static 'css/style.css' %}"rel="stylesheet">
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      <link rel="stylesheet" href="{% static 'outer/css/reset.css' %}">
      <!-- CSS reset -->

      
   </head>
   <body ng-controller="dashboard_data_controller" ng-cloak>

      <!-- base_outer and inner .html -->
      <input type="hidden" ng-model="user.user_id" ng-init="user.user_id='{{ request.session.user_id }}'"/>
     

      
      <div class="loader"></div>
      <div id="snackbar"></div>
      <div class="container-fluid h-100 br_b  position-relative px-0 " id="main">
         <div class="position-absolute  float-right pointer text-white  menuBar-x pointer" onclick="openNav()">
		   <div class="d-none d-lg-block"> 
            <div class="px-3 py-2  font-weight-bold border border-danger border-right-0">
               MENU <i class="fa fa-bars " aria-hidden="true"></i>
            </div>
			</div>
			
			  <div class="d-block d-lg-none"> <div class="px-3 py-2  font-weight-bold border border-danger border-right-0">
                <i class="fa fa-bars " aria-hidden="true"></i>
            </div></div>
         </div>
        {% include 'sidebar.html' %}
         {% block content %}
         {% endblock %}
      </div>

       <div id="wb_myNav" class="wb_overlay">
         <a href="javascript:void(0)" class="closebtn" onclick="wb_closeNav()"><i class="fa fa-times font-weight-bold close_button"></i></a>
            <div class="wb_overlay-content h-100  overflow-scroll">
                
            </div>
      </div>
      
   </body>
   <script type="text/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
   
   
   <script type="text/javascript" src="{% static 'js/angular/angular.min.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular/angular-messages.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular/angular-base64-upload.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular/angular-locale_pt-br.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular-input-masks/releases/angular-input-masks-dependencies.js' %}"></script>
   <script type="text/javascript" src="{% static 'js/angular-input-masks/releases/angular-input-masks.js' %}"></script>
   <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
   
   <!-- Slick Slider Js-->

   <script type="text/javascript" src="{% static 'js/jquery_confirm.js' %}"></script>
   
   <script src="{% static 'js/main.js' %}"></script>
   <script src="{% static 'js/dashboard.js' %}"></script>
   
</html>