{% extends 'base_inner.html' %}
{% load static %}
{% block title %}TestPress | Dashboard{% endblock %}
{% block content %}
<div class="" >
   

   <div class="row  h-100   mx-0  bg-white position-relative bdr-radius mb-0">
   
   
    <div class="col-12 bg-doyogame home-sec-1 " >
         <div class="d-flex align-items-center justify-content-center ">
            <div class="text-center">
               
              
               <div class="">
                  <h6 class="text-white mt-2 h5"> Welcome {{get_firstname}} {{get_lastname}} </h6>
               </div>
            
               <h6 class="text-white mt-2 i">-- <% greeting_name %> -- </h6>
               <h6 class="text-white mt-2 i">{{current_date}} </h6>
            </div>
         </div>
      </div>

      <div class="col-12">
         <h4 class="text-dg font-weight-bold text-center mt-2">Welcome to TestPress Quiz</h4>
      </div>

      <div class="col-12 col-lg-10 mx-auto bg-white mb-4 mt-4 home-sec-2">
         <div class="d-flex align-items-center justify-content-center h-mob-auto h-100">
            <div class="row w-100">
               {% for p in result_set_json %}
               
               <div class="  col-lg-6 px-3 px-lg-4 "ng-click="get_clicked_practice_quiz('{{p.id}}','{{p.name}}')">
                  <div class="box-item-style-1 row text-center align-items-center  py-3 mb-2 py-lg-3">
                     
                     <div class="col-9 col-lg-12">
                        <h6 class="mb-1 mt-0 mt-lg-2 routine_title text-uppercase"> {{p.name}} </h6>
                        
                     </div>
                  </div>
               </div>
               
               {% endfor %}
            </div>
         </div>
      </div>
      </div>
   
   
     
   </div>
</div>
<!-- <script>
   setTimeout(function(){ openNav();}, 1000);
   </script> -->
{% endblock %}