{% load static %}

<div class="bg-white h-auto  bdr-top" ng-controller="dashboard_data_controller">
   <div class="h-100 d-flex justify-content-center align-items-center">
      <div class="container py-2">
         <div class="row">
            <div class="col-lg-6 mx-auto">
			  
             <h5 class="text-dg mb-3  text-uppercase text-center">Feedback Report</h5>
			   
			    <table class = "table mx-auto box-item-style-1  table-borderless table-responsive">
                  <tr>
                     <td> Date & Time of Test(Start Time)</td>
                     <td>:</td>
                     <td>{{get_current_date_value}} {{get_current_time_value}}</td>
                  </tr>
                  <tr>
                     <td>Time taken to Complete the test</td>
                     <td>:</td>
                     <td>{{request.session.practice_time_duration}}</td>
                  </tr>
                  <tr>
                     <td>Category Name</td>
                     <td>:</td>
                     <td>{{request.session.category_quiz_name}}</td>
                  </tr>
                  <tr>
                     <td>Total Questions</td>
                     <td>:</td>
                     <td>10</td>
                  </tr>
                  <tr>
                     <td>Correct Answer</td>
                     <td>:</td>
                     <td>{{request.session.session_correct_answer_number}}</td>
                  </tr>
                  <tr>
                     <td>Result</td>
                     <td>:</td>
                     
                     <td>{{result_status}}</td>
                    
                  </tr>
               </table>

            <button class="btn btn-danger" onclick="dashboard_redirect()">Ok</button>
			     
			</div>
		 </div>
	  </div>
	</div>
</div>
      		  




