{% load static %}
<div class="row">
    <div class="col-lg-12">
       <div class="p-2 p-lg-4">
          
          <div class="row m-0">
             
            <div class="col-lg-10 px-3 px-lg-4 mb-3 mt-5" >
                   
                  <h5 class="font-weight-bold text-dg"> {% autoescape off %}{{get_current_question_value_set.question|safe}} {% endautoescape %} </h5>

                          <div>
                                1 <input type="radio" name="aa" id="1" ng-model="user.answer_result" value="{{get_current_question_value_set.correct_answer}}" onclick="check_question_answer()" ng-init="user.answer_result='{{get_current_question_value_set.correct_answer}}'"/>
                                <label for="1">{% autoescape off %}{{get_current_question_value_set.correct_answer|safe}}{% endautoescape %} </label>
                           </div>

                           {% for p in get_current_question_value_set.incorrect_answers %}
                               <div>
                                {{ forloop.counter| add:1 }} <input type="radio" name="aa" id="{{ forloop.counter| add:1 }}" onclick="check_question_answer()" ng-init="user.answer_result='{{p}}'" ng-model="user.answer_result"  value="{{p}}" />
                                <label for="{{ forloop.counter| add:1 }}">{% autoescape off %}  {{p}}{% endautoescape %} </label>
                           </div>


                           {% endfor %}
                 

             </div>
             
          </div>


          <div class="row">
             <p class="result_display"></p>
          </div>


          <div class="row mt-3">
          	{% if button_value == 'Submit' %}
             <div class="col-lg-6">
                <button class="disabled btn btn-warning float-right submit_button" onclick="next_question_answer_set()">Submit & Next</button>
             </div>
             {% elif button_value == 'Finish' %}
             <div class="col-lg-6">
                <button class="disabled btn btn-warning float-right submit_button" onclick="finish_test_report_set()">Finish Test</button>
             </div>
             {% endif %}
             
          </div>
       </div>
    </div>
 </div>