{% extends 'base_inner.html' %}
{% load static %}
{% block title %}TestPress | Quiz  {% endblock %}

{% block content %}

 <div class="bg-white height_set  bdr-top" >
   <div data-ng-init="onload_check_question_answer_value(user.user_id,{{request.session.session_current_quiz_question}})"></div>
    <div class=" d-flex justify-content-center align-items-center">
       <div class="container" id="questions_tab">
         
      </div>
   </div>
</div>

<style>
   .menuBar-x{color:#e44d53 !important;}
</style>
{% endblock %}