{% extends 'base_inner.html' %}
{% load static %}
{% block title %}TestPress | Report Page{% endblock %}
{% block content %}
<div class="" >
   

   <div class="row  h-100   mx-0  bg-white position-relative bdr-radius mb-0">
   
   
    <div class="col-12 bg-doyogame home-sec-1 " >
         <div class="d-flex align-items-center justify-content-center ">
            <div class="text-center">
               
              
               <div class="">
                  <h6 class="text-white mt-2 h5"> Practice Report Information </h6>
               </div>
            
               
            </div>
         </div>
      </div>

     

      <div class="col-12 col-lg-10 mx-auto bg-white mb-4 mt-4 home-sec-2">
         <div class="d-flex align-items-center justify-content-center h-mob-auto h-100">
            <div class="row w-100">
                
               <div class="datatable-filtertable position-relative offset-lg-8 col-12 col-lg-4 px-0" >
                  <input type="text"  id="data_table_search_items" placeholder="Search " class="w-100">
                  <span class="search-ico"><i class="fas fa-search "></i></span>
               </div>
               <div class="table-responsive-lg w-100 text-capitalize mt-2">
                  <div class="table-responsive text-capitalize mt-2">
                     <table id="datatablesRecord" class="table table-bordered w-100 small text-center" cellspacing="0" >
                        <thead>
                           <tr class="bg-light">
                              <th>S.No</th>
                              <th>Category Name</th>
                              <th>Date & Time of Test(Start Time)</th>
                             
                              <th>View</th>
                           </tr>
                        </thead>
                              <tbody>
                                 {% for t in get_information_data %}
                                 <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{t.quiz_category_name}}</td>
                                    <td>{{t.cuurent_practice_timestamp}}</td>
                                    
                                    
                                    <td> 
                                       <button class="btn mx-auto btn-primary btn-sm bg-doyogame border-0" ng-click="openUserRecordsAnswerRecord('{{t.id}}')" ><i class="far fa-eye pr-1 pt-lg-1"></i></button>
                                    </td>
                                 </tr>
                                 {% endfor %}
                              </tbody>
                           </table>
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </div>
      
   
   
     
   </div>
</div>
<!-- <script>
   setTimeout(function(){ openNav();}, 1000);
   </script> -->
{% endblock %}